@charset "utf8";

h1 {
    text-align: center;
}

p {
    text-align: center;
}

address,
article,
aside,
blockquote,
body,
cite,
div,
dl,
dt,
dd,
em,
figcaption,
figure,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
img,
li,
main,
nav,
ol,
p,
section,
span,
ul {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    /* background: transparent; */
    /* -webkit-box-sizing: border-box; */
    /* -moz-box-sizing: border-box; */
    /* box-sizing: border-box;   */
}

nav.horizontal {
    /* display: block; */
    font-size: 25px;
    /* float: left; */
    line-height: 30px;
    /* height: 30px; */
    width: 100%;
    text-align: center;
}

nav.horizontal a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border-width: 1px;
    border-style: solid;
    border-color: darkred;
    text-transform: uppercase;
    color: rgb(0, 255, 255);
    /* padding:  0px 20px; */
    width: 24%;
    background-color: rgb(0, 0, 0);
}

nav.horizontal a:link,
nav.horizontal a:visited {
    color: rgb(0, 255, 255)
}

nav.horizontal a:hover,
nav.horizontal a:active {
    background-color: rgb(71, 25, 25);
}

header,
header nav,
header nav ul {
    width: 100%;
}



h3 {
    text-align: center;
}

/* Basic table styling */
table {
    width: 100%;
    border-collapse: collapse;
    font-family: monospace;
    font-size: 16px;
    color: rgb(0, 255, 255);
}

/* Table header styling */
th {
    background-color: #000000;
    color: rgb(0, 255, 255);
    border-style: solid;
    border-width: 1px;
    border-color: darkred;
    text-transform: uppercase;
    text-align: left;
    padding: 12px;
}

/* Table cell styling */
td {
    border: 1px solid darkred;
    padding: 10px;
}

/* Alternating row colors */
tr:nth-child(even) {
    background-color: transparent;
}

/* Responsive table for small screens */
@media (max-width: 600px) {
    table {
        font-size: 14px;
    }

    th,
    td {
        padding: 8px;
    }
}

body {
    font-family: Arial, sans-serif;
    color: rgb(0, 255, 255);
    padding: 40px;
}

form {
    background: black;
    padding: 25px;
    border-radius: 8px;
    max-width: 400px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: rgb(0, 255, 255);
}

label {
    display: block;
    margin: 8px 0 5px;
    color: rgb(0, 255, 255);
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 8px;
}

textarea {
    background-color: transparent;
    color:rgb(0, 255, 255);

}

button {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    background-color: darkred;
    color: rgb(0, 255, 255);
    border: solid;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(211, 92, 92);
}
html {
    overflow-y: scroll;
}

